{%- set device = registry.get_random_device() -%}
{%- set user = registry.get_random_user() -%}
{%- set domain = registry.get_domain() -%}
{%- set netbios_domain = registry.get_netbios_domain() -%}
{%- set lockout_threshold = registry.get_org_setting('account_lockout_threshold', 5) -%}
{%- set event_id = 4624 -%}
{%- set process_id = random_int(1000, 9999) -%}
{%- set thread_id = random_int(1000, 9999) -%}
{%- set logon_type = random_choice([2, 3, 5, 7, 10]) -%}
<Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event">
  <s>
    <Provider Name="Microsoft-Windows-Security-Auditing" Guid="{54849625-5478-4994-A5BA-3E3B0328C30D}" />
    <EventID>{{ event_id }}</EventID>
    <Version>0</Version>
    <Level>0</Level>
    <Task>12544</Task>
    <Opcode>0</Opcode>
    <Keywords>0x8020000000000000</Keywords>
    <TimeCreated SystemTime="{{ timestamp }}" />
    <EventRecordID>{{ random_int(10000, 99999) }}</EventRecordID>
    <Correlation />
    <Execution ProcessID="{{ process_id }}" ThreadID="{{ thread_id }}" />
    <Channel>Security</Channel>
    <Computer>{{ device.hostname }}</Computer>
    <FQDN>{{ device.fqdn | default(device.hostname + '.' + domain) }}</FQDN>
    <Domain>{{ netbios_domain }}</Domain>
    <Security />
  </s>
  <EventData>
    <Data Name="SubjectUserSid">{{ user.sid }}</Data>
    <Data Name="SubjectUserName">{{ user.username }}</Data>
    <Data Name="SubjectDomainName">{{ netbios_domain }}</Data>
    <Data Name="SubjectLogonId">0x{{ random_hex(5) }}</Data>
    <Data Name="TargetUserSid">{{ user.sid }}</Data>
    <Data Name="TargetUserName">{{ user.username }}</Data>
    <Data Name="TargetDomainName">{{ netbios_domain }}</Data>
    <Data Name="TargetLogonId">0x{{ random_hex(5) }}</Data>
    <Data Name="LogonType">{{ logon_type }}</Data>
    <Data Name="LogonProcessName">Advapi</Data>
    <Data Name="AuthenticationPackageName">Negotiate</Data>
    <Data Name="WorkstationName">{{ device.hostname }}</Data>
    <Data Name="LogonGuid">{{ random_guid() }}</Data>
    <Data Name="TransmittedServices">-</Data>
    <Data Name="LmPackageName">-</Data>
    <Data Name="KeyLength">0</Data>
    <Data Name="ProcessId">0x{{ random_hex(1) }}</Data>
    <Data Name="ProcessName">C:\Windows\System32\svchost.exe</Data>
    <Data Name="IpAddress">{{ device.ip_address }}</Data>
    <Data Name="IpPort">{{ random_int(10000, 65535) }}</Data>
    <Data Name="UserEmail">{{ user.username }}@{{ domain }}</Data>
    <Data Name="AccountLockoutThreshold">{{ lockout_threshold }}</Data>
    {% if device.custom_asset_tag is defined %}
    <Data Name="AssetTag">{{ device.custom_asset_tag }}</Data>
    {% endif %}
    <Data Name="ImpersonationLevel">%%1833</Data>
    <Data Name="RestrictedAdminMode">-</Data>
    <Data Name="TargetOutboundUserName">-</Data>
    <Data Name="TargetOutboundDomainName">-</Data>
    <Data Name="VirtualAccount">%%1843</Data>
    <Data Name="TargetLinkedLogonId">0x0</Data>
    <Data Name="ElevatedToken">%%1842</Data>
  </EventData>
</Event>