{
  "accountId": "{{ random_guid() | replace('-', '') }}",
  "accountName": "{{ registry.get_random_company().name }}",
  "activityType": {{ random_int(5000, 6000) }},
  "activityUuid": "{{ random_guid() }}",
  "agentId": "{{ random_guid() | replace('-', '') }}",
  "agentUpdatedVersion": null,
  "comments": null,
  "createdAt": "{{ current_timestamp() | format_timestamp('%Y-%m-%dT%H:%M:%S.%fZ') }}",
  "data": {
    "accountName": "{{ registry.get_random_company().name }}",
    "bluetoothAddress": "",
    "computerName": "{{ registry.get_random_device().hostname }}",
    "creator": "N/A",
    "deviceClass": "{{ random_int(0, 10) }}{{ ['h'] | random }}",
    "deviceInformationServiceInfoKey": "",
    "deviceInformationServiceInfoValue": "",
    "deviceName": "&lt;N/A&gt;",
    "eventId": "{{{ random_guid() }}}}",
    "eventTime": "{{ current_timestamp() | format_timestamp('%Y-%m-%dT%H:%M:%S.%f+00:00') }}",
    "eventType": "{{ ['connected', 'disconnected'] | random }}",
    "externalServiceId": null,
    "fullScopeDetails": "Group {{ context.group_name }} in Site {{ context.site_name }} of Account {{ registry.get_random_company().name }}",
    "fullScopeDetailsPath": "Global / {{ registry.get_random_company().name }} / {{ context.site_name }} / {{ context.group_name }}",
    "gattService": "",
    "groupId": "{{ random_guid() | replace('-', '') }}",
    "groupName": "{{ context.group_name }}",
    "interface": "USB",
    "ipAddress": "{{ random_ip() }}",
    "lastLoggedInUserName": "{{ registry.get_random_user().username }}",
    "lmpVersion": "N/A",
    "manufacturerName": "",
    "minorClass": "N/A",
    "osType": "windows",
    "physicalDeviceId": null,
    "productId": "{{ random_int(8000, 9000) | string }}",
    "profileUuids": "N/A",
    "realUser": null,
    "ruleId": "-1",
    "ruleName": null,
    "ruleScopeName": null,
    "ruleType": "productId",
    "scopeLevel": "Group",
    "scopeName": "{{ context.group_name }}",
    "siteName": "{{ context.site_name }}",
    "sourceType": "API",
    "uid": "{{ random_string(12, 'ABCDEF0123456789') }}",
    "vendorId": "{{ random_int(400, 600) }}",
    "version": "N/A"
  },
  "description": null,
  "groupId": "{{ random_guid() | replace('-', '') }}",
  "groupName": "{{ context.group_name }}",
  "hash": null,
  "id": "{{ random_guid() | replace('-', '') }}",
  "osFamily": null,
  "primaryDescription": "USB device {% if data.deviceName == '&lt;N/A&gt;' %}&lt;N/A&gt;{% else %}{{ data.deviceName }}{% endif %} was {{ data.eventType }} on {{ data.computerName }}.",
  "secondaryDescription": "IP address: {{ data.ipAddress }}",
  "siteId": "{{ random_guid() | replace('-', '') }}",
  "siteName": "{{ context.site_name }}",
  "threatId": null,
  "updatedAt": "{{ current_timestamp() | format_timestamp('%Y-%m-%dT%H:%M:%S.%fZ') }}",
  "userId": null,
  "timestamp": "{{ current_timestamp() | format_timestamp('%Y-%m-%dT%H:%M:%S.%fZ') }}",
  "modular_input_consumption_time": "{{ current_timestamp() | format_timestamp('%a, %d %b %Y %H:%M:%S +0000') }}"
}